@import "tailwindcss";


input {
    @apply border px-2 py-1;
}

td, th {
    @apply border py-1 px-2;
}

table {
    @apply border border-collapse font-mono;
}

button, .button {
    @apply border py-1 px-2 shadow-[2px_2px_0_0] cursor-pointer bg-gray-100 hover:not-disabled:bg-gray-200 disabled:bg-gray-300 disabled:shadow-gray-300 disabled:text-gray-600 disabled:cursor-not-allowed;
}

.button {
    @apply text-nowrap;
}

a {
    @apply underline text-blue-600 visited:text-indigo-600;
}

.dataframe {
    @apply relative;

    & > thead > tr:first-child > th {
        @apply sticky top-0 z-[2] bg-white shadow-[inset_0_1px_0_black,_inset_0_-1px_0_black];
    }
}