{% extends "layout.html.jinja" %}

{% block title %}IT - Job {{ model.job.id }} ({{ model.job.user }}){% endblock %}

{% block main %}
    <div class="flex flex-col gap-8">
        <h1 class="text-4xl font-bold">Job {{ model.job.id }}</h1>

        <section>
            <h2 class="text-2xl font-bold mb-4">Config</h2>

            <dl class="grid grid-cols-[auto_1fr] w-fit gap-x-4 mb-3">
                <dt>User</dt>
                <dd>{{ model.job.user }}</dd>
                <dt>Start</dt>
                <dd>{{ model.job.start_date.strftime('%Y-%m-%d') }}</dd>
                <dt>End</dt>
                <dd>{{ model.job.end_date.strftime('%Y-%m-%d') }}</dd>
                <dt>Initial Investment</dt>
                <dd>${{ model.job.initial_balance }}</dd>
                <dt>Tickers</dt>
                <dd>{{ ', '.join(model.job.tickers) }}</dd>
                <dt>Upper band period</dt>
                <dd>{{ model.job.up_period }}</dd>
                <dt>Lower band period</dt>
                <dd>{{ model.job.down_period }}</dd>
                <dt>Max leverage</dt>
                <dd>{{ model.job.max_leverage }}%</dd>
                <dt>Target volatility</dt>
                <dd>{{ model.job.target_volatility }}%</dd>
                <dt>Rebalance threshold</dt>
                <dd>{{ model.job.rebalance_threshold }}%</dd>
                <dt>Cost per share</dt>
                <dd>${{ model.job.trade_cost_per_share }}</dd>
                <dt>Min trade cost</dt>
                <dd>${{ model.job.trade_cost_min }}</dd>
                <dt>Benchmark</dt>
                <dd>${{ model.job.benchmark }}</dd>
                <dt>Created At</dt>
                <dd>{{ model.job.created_at }}</dd>
            </dl>

            <div class="font-mono flex gap-4">
                <a href="/static/it_results/{{ model.job.id }}-balance.csv" download
                   class="button !text-black !no-underline">Download Balance ⬇</a>
                <a href="/static/it_results/{{ model.job.id }}-monthly_returns.csv" download
                   class="button !text-black !no-underline">Download Returns ⬇</a>
                <a href="/static/it_results/{{ model.job.id }}-trades.csv" download
                   class="button !text-black !no-underline">Download Trades ⬇</a>
            </div>
        </section>

        <section class="my-4">
            <h2 class="text-2xl font-bold mb-4">Performance</h2>
            <div id="chart-container" class="w-full h-[25rem]"></div>
        </section>

        <section>
            <h2 class="text-2xl font-bold mb-4">CAGR</h2>
            <p>Portfolio CAGR: {{ model.cagr }}%</p>
            <p>Benchmark CAGR: {{ model.cagr_benchmark }}%</p>
        </section>

        <section class="my-4">
            <h2 class="text-2xl font-bold mb-4">Returns</h2>
            {{ model.returns.to_html(index_names=False, table_id='returns') | safe }}
        </section>

        <section class="my-4">
            <h2 class="text-2xl font-bold mb-4">Drawdowns</h2>

            {{ model.drawdowns.to_html(table_id='drawdowns') | safe }}
        </section>

        <section class="my-4">
            <h2 class="text-2xl font-bold mb-4">Trades ({{ model.trades_count }})</h2>

            {{ model.trades.to_html(index_names=False, table_id='trades') | safe }}
        </section>
    </div>

    <script type="module">
      import '/static/dist/chart.js';

      const portfolio = {{ model.balance.to_json(orient='split')|safe }};
      setupIndustryTrendsChart(document.getElementById('chart-container'), portfolio);

      function colorPositivity(el) {
        const amount = parseFloat(el.innerHTML);
        if (amount > 0) {
          el.style.color = 'green';
        } else if (amount < 0) {
          el.style.color = 'red';
        } else {
          el.style.color = 'darkgray';
        }
      }

      document.querySelectorAll('#returns tbody td').forEach((cell) => {
        colorPositivity(cell);
      });
      document.querySelectorAll('#trades tbody td').forEach((cell) => {
        colorPositivity(cell);
      });
    </script>
{% endblock %}
