<section id="jobs" class="my-6">
    <h2 class="text-2xl font-bold mb-3">Past jobs</h2>

    <form class="mt-3 mb-5 flex flex-col gap-2" hx-get="/industry-trends/jobs" hx-swap="outerHTML" hx-target="#jobs">
        <div>
            <p class="font-semibold text-lg">Filters</p>
            <label for="user_filter">User</label>
            <input id="user_filter" name="user_filter" type="text" value="{{ user_filter if user_filter else '' }}">
        </div>

        <div>
            <p class="font-semibold text-lg">Sort</p>

            <label for="sort_cagr">By CAGR</label>
            <select id="sort_cagr" name="sort_cagr">
                <option value="" {{ 'selected' if sort_cagr is none }}>-</option>
                <option value="asc" {{ 'selected' if sort_cagr == 'asc' }}>ASC</option>
                <option value="desc" {{ 'selected' if sort_cagr == 'desc' }}>DESC</option>
            </select>

            <label for="sort_drawdown">By Drawdown</label>
            <select id="sort_drawdown" name="sort_drawdown">
                <option value="" {{ 'selected' if sort_drawdown is none }}>-</option>
                <option value="asc" {{ 'selected' if sort_drawdown == 'asc' }}>ASC</option>
                <option value="desc" {{ 'selected' if sort_drawdown == 'desc' }}>DESC</option>
            </select>
        </div>

        <div>
            <button type="submit">Apply</button>
            <button type="button" hx-get="/industry-trends/jobs" hx-swap="outerHTML" hx-target="#jobs">Clear</button>
        </div>
    </form>

    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>User</th>
                <th>Details</th>
                <th>Start</th>
                <th>End</th>
                <th>Initial Amt</th>
                <th>CAGR</th>
                <th>Drawdown</th>
                <th>Tickers</th>
                <th>Up</th>
                <th>Down</th>
                <th>Target Vol</th>
                <th>Max leverage</th>
                <th>Cost per share</th>
                <th>Min trade cost</th>
                <th>Rebalance threshold</th>
                <th>Benchmark</th>
                <th>CAGR Benchmark</th>
                <th>Drawdown Benchmark</th>
                <th>Created At</th>
            </tr>
        </thead>
        <tbody>
            {% for job in jobs %}
                <tr>
                    <td>{{ job.id }}</td>
                    <td>{{ job.user }}</td>
                    <td><a href="/industry-trends/jobs/{{ job.id }}">View</a></td>
                    <td>{{ job.start_date.strftime('%Y-%m-%d') }}</td>
                    <td>{{ job.end_date.strftime('%Y-%m-%d') }}</td>
                    <td>${{ job.initial_balance }}</td>
                    <td>{{ job.cagr }}</td>
                    <td>{{ job.drawdown }}</td>
                    <td>{{ job.tickers }}</td>
                    <td>{{ job.up_period }}</td>
                    <td>{{ job.down_period }}</td>
                    <td>{{ job.target_volatility }}</td>
                    <td>{{ job.max_leverage }}</td>
                    <td>{{ job.trade_cost_per_share }}</td>
                    <td>{{ job.trade_cost_min }}</td>
                    <td>{{ job.rebalance_threshold }}</td>
                    <td>{{ job.benchmark }}</td>
                    <td>{{ job.cagr_benchmark }}</td>
                    <td>{{ job.drawdown_benchmark }}</td>
                    <td>{{ job.created_at }}</td>
                </tr>
            {% endfor %}
            {% if jobs|length == 0 %}
                <tr>
                    <td colspan="14" style="text-align: center">No results.</td>
                </tr>
            {% endif %}
        </tbody>
    </table>

    <div style="margin-top: 1rem;">
        <button hx-get="/industry-trends/jobs/?page={{ page - 1 }}&user_filter={{ user_filter if user_filter else '' }}&sort_cagr={{ sort_cagr if sort_cagr else '' }}&sort_drawdown={{ sort_drawdown if sort_drawdown else '' }}" hx-swap="outerHTML" hx-target="#jobs" {% if page == 0 %}disabled{% endif %}>Prev</button>
        <span>Page {{ page + 1 }}/{{ (count / limit)|round(0, 'ceil')|int }}</span>
        <button hx-get="/industry-trends/jobs?page={{ page + 1 }}&user_filter={{ user_filter if user_filter else '' }}&sort_cagr={{ sort_cagr if sort_cagr else '' }}&sort_drawdown={{ sort_drawdown if sort_drawdown else '' }}" hx-swap="outerHTML" hx-target="#jobs" {% if page * limit + jobs|length >= count %}disabled{% endif %}>Next</button>
        <span>Total {{ count }} jobs</span>
    </div>
</section>
