<section id="allocation">
    <h2 class="text-2xl font-bold">DM Allocation</h2>
    <p class="text-lg">On <time class="italic">{{ date.strftime('%Y-%m-%d') }}</time> you should own:</p>

    <ul class="list-disc ml-4">
        {% for position in positions %}
            <li class="font-semibold text-lg">{{ position }}</li>
        {% endfor %}
    </ul>

    <h3 class="text-xl font-bold mt-4 mb-2">Lookback Returns (last {{ lookback_period }} months)</h3>
    {{ lookback_returns.to_html() | safe }}
</section>