<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{% block title %}Dual Momentum{% endblock %}</title>

        <link rel="icon" href="/static/favicon.svg" type="image/svg+xml">
        <link rel="stylesheet" href="/static/dist/main.css">
        <script type="module" src="/static/dist/main.js"></script>
    </head>
    <body class="mx-4 my-3">
        <nav class="mb-4 text-lg flex gap-6">
            <a href="/">Dual Momentum</a>
            <a href="/industry-trends">Industry Trends</a>
        </nav>
        {% block main %}

        {% endblock %}
    </body>
</html>